<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=Edge">
  <title>Dribbbler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Personal project for learning purposes.">
  <meta name="author" content="Donatas Žukauskas">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic&subset=latin,latin-ext">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="stylesheets/main.css">
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>

<main class="page-wrapper">
  <div class="container">
    <header>
      <h1 class="page-title text-center">Dribbbler</h1>
    </header>
    <section class="row dribbble-shots"></section>
  </div>
</main>

<div id="preloader">
  <span class="loading-gif"></span>
</div>

<script id="template" type="text/html">
  <article class="col-lg-4 col-md-4 col-sm-6 col-xs-12 shot-wrapper">
    <figure class="shot">
      <img class="shot-image" src="<% this.image %>" title="<% this.title %>" alt="<% this.title %>">
      <figcaption class="shot-info <% this.liked %>" data-id="<% this.id %>">
        <div>
          <h2 class="shot-title"><% this.title %></h2>
          <h3 class="shot-author"><span><% this.author %></span></h3>
          <button class="btn-favorite" id="<% this.id %>" title="Favorite">Favorite</button>
        </div>
      </figcaption>
    </figure>
  </article>
</script>

<script src="javascripts/main.js"></script>
</body>
</html>
